/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin du reset-CSS*/


/*Général*/

body {
    background-color: #eae7da;
    font-family:  'Times New Roman', Georgia, Times, serif;
    width: 100%;
}
.fond_d_ecran_page_profil, .fond_d_ecran_page_formation, .fond_d_ecran_page_centre_d_interets, .fond_d_ecran_page_competences{
    background-image: url(../image/donnees_perso.png);
    background-repeat: no-repeat;
}

header {
    padding: 0% 1% 0% 1%;
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    width: 100%;
    height: 50px;
    border: solid #ffffff 5px;
    background-color:#eae7da;
    color: #4f2e09;
    text-align: center;
}

/*menu déroulant*/

nav {
    width: 150px;
    font-weight:600;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 100;
    position: absolute;
    top: 59px;
}

nav > ul >li > a, .menu {
    width: 100%;
    background-color: #eae7da;
    border: solid #ffffff 1px;
    padding: 5px;
    border-radius: 5px;
}

.menu_deroulant{
    color: #000000;
    font-size: 22px;
    position: relative;
}

.menu::before {
    content: url(../image/menu-button-of-three-horizontal-lines.png);
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
}

.sous_menu {
    display: none;
    position:absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous_menu {
    display: block;
}

.sous {
    float: none;
    width: 100%;
    text-align: left;
    padding: 5px;
    background-color: #eae7da;
    border: solid #ffffff 1px;
    border-radius: 5px;
}
.sous:hover {
    background-color: #ffffff;
}

/*fin du menu déroulant*/


/*grande tablette contenant les informations*/

.tablet, .tablet_competences {
    position: relative;
    border: solid #ffffff 3px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 5px auto;
    min-width: 250px;
    max-width: 1000px;
    
}

@media screen and (min-width: 0px) {
    .tablet, .tablet_competences{
        position: relative;
        top: 60px;
        height: 400px;
    }
    .inside_tablet, .inside_tablet_competences{
        height: 320px;
    }
}

@media screen and (min-width: 900px) {
    .tablet, .tablet_competences{
        position: relative;
        top: 27px;
        height: 580px;
    }
    .inside_tablet, .inside_tablet_competences{
        height: 500px;
    }
}

.inside_tablet, .inside_tablet_competences {
    border: solid #000000 40px;
    border-radius: 15px;
    background-color: #eae7da;
    margin: 0 auto;
    min-width: 250px;
    max-width:1000px;

    overflow-y: scroll;
}

.inside_tablet article, .inside_tablet_competences article{
    margin: 15px;
}

.tablet h2, .tablet_competences h2 {
    font-size: 25px;
    text-decoration: underline;
    margin: 30px 15px;
    text-align: center;
    font-weight: 900;
}

.tablet h3, .tablet_competences h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 10px 5px 25px; 
}

.tablet p, .tablet_competences p {
    padding: 5px;
    font-size: 20px;
}

.start_button {
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -35px;
}


/*Spécifique à la page profil*/

.developpeur_web {
    font-size: 40px;
    text-decoration: underline;
    margin: 25px;
}

@media screen and (min-width: 0px) {
    .coordonnees{
        position: absolute;
        top: 130px;
        left: 20px;
    }
    .accroche {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    .coordonnees{
        position: absolute;
        top: 60%;
        left: 80%;
    }
    .accroche {
        font-size: 22px;
    }
}

.coordonnees {
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    border: solid black 10px;
    border-radius: 15px;
    padding: 3px;
    background-color: #eae7da;
}

.coordonnees a {
    color: #000000;
    text-decoration: underline;
}
.coordonnees a:hover {
    color: #4f2e09;
}
.coordonnees a:visited {
    color: #4f2e09;
}

.coordonnees h2 {
    font-size: 25px;
    font-weight: 600;
}

.accroche {
    text-align: center;
    line-height: 35px;
    font-style:italic;
    font-weight: 300;
    max-width: 400px;
    position: absolute;
    top: 290px;
    left: 7%;
}

/*Spécifique à la page compétences*/

.tablet_competences {
    width: fit-content;
}

.tablet_competences li, .tablet_competences td {
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

td {
    vertical-align: middle;
}

table {
    margin: 0 auto;
}

progress{
    width: 75%;
    height: 15px;
    margin: 10px;
    border: 0;
    border-radius: 15px;
    box-shadow:  0 5px 5px rgba(96, 89, 89, 0.982) inset;
}

/*style progress pour mozilla*/
progress::-moz-progress-bar {
    -moz-appearance: none;
    background-color: rgba(95, 158, 160, 0.742);
}

/*style progress pour chrome et safari*/
progress::-webkit-progress-bar {
	-webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 15px;
    border: 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow:  0 5px 5px rgba(96, 89, 89, 0.982) inset;
    border-radius: 15px;
  }
progress::-webkit-progress-value {
    background-color: rgba(95, 158, 160, 0.742);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }


  /*Spécifique à la page centre d'intérêts*/

  /*galerie d'images*/
.galerie {
    width: 100%;
    height: 78px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-bottom: solid #000000 3px;
}

.navigation {
    display: flex;
}

.navigation li {
    margin: 0 auto;
}

.navigation li a img {
    display: block;
    border: none;
    margin: 15% auto;
    height: 50px;
}

 /*Les grandes images apparaissent quand on passe la souris sur les images de la galerie*/

 .none {
    display: none;
}

.galerie:hover .when_hover_laptop {
    display: none;
}

@media screen and (max-width: 600px) {
    .none img {
        height: 197px;
    }
    .when_hover_laptop {
        display: block;
        position: absolute;
        top: 90px;
        margin-left: -15%;
    }
    .navigation li:hover .none_jeu_de_societe {
        left: -13%;
    }
    .navigation li:hover .none_lecture{
        left: 13%;
    }
    .navigation li:hover .none_randonnee {
        left: 35%;
    }
    .navigation li:hover .none_jeu_video {
        left: 58%;
    }
}
@media screen and (max-width: 900px) {
    .none img {
        height: 197px;
    }
    .when_hover_laptop {
        display: block;
        position: absolute;
        top: 90px;
        left: 33%;
    }
    .when_hover_laptop img {
        height: 200px;
    }
    .navigation li:hover .none_jeu_de_societe {
        margin-left: 20%;
    }

    .navigation li:hover .none_lecture{
        margin-left: -5%;
    }

    .navigation li:hover .none_randonnee {
        margin-left: -28%;
    }

    .navigation li:hover .none_jeu_video {
        margin-left: -58%;
    }
}

@media screen and (min-width: 900px) {
    .none img {
        height: 390px;
    }
    .when_hover_laptop {
        display: block;
        position: absolute;
        top: 164px;
        left: 35%;
    }
    .navigation li:hover .none_jeu_de_societe {
        margin-left: 10%;
    }
    
    .navigation li:hover .none_lecture{
        margin-left: -13%;
    }
    
    .navigation li:hover .none_randonnee {
        margin-left: -36%;
    }
    
    .navigation li:hover .none_jeu_video {
        margin-left: -70%;
    }
}

.navigation li:hover .none {
    display:block;
    position: absolute;
    top: 80px;
}

.navigation li:hover .none p {
    text-align: center;
}

