/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin du reset-CSS*/
/**********************************************************************************************/
/*Général*/

@font-face {
    font-family: FrederickatheGreat-Regular;
    src: url(../image/Fredericka_the_Great/FrederickatheGreat-Regular.ttf) format(truetype);
}

html {
    font-size: 16px;
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    font-size: 3em;
    text-align: center;
    background-color: rgb(18, 100, 73);
    color: #fffefb;
    padding: 0.3em 0px 0.5em 0px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(220, 243, 235);
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

@media screen and (min-width: 0px) {
    nav {
        flex-direction: column;
        height: 100px;
        position: absolute;
        top: 15%;
        left: 7%;
        padding: 15px;
    }
}

@media screen and (min-width: 900px) {
    nav {
        flex-direction: row;
        height: 5%;
        padding: 10px 0px 10px 10px;
        position: absolute;
        top: 15%;
        left: 10%;
    }
}

nav a {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: rgb(18, 100, 73);
    text-decoration: none;
    font-variant: small-caps;
}

nav a:visited{
    color:#72b5a1;
}

nav a:hover {
    border-bottom: solid rgb(18, 100, 73) 2px;
    background-color: rgb(220, 243, 235);
}

main {
    width: 100%;
}

a:link{
    color: rgb(13, 69, 51);
    cursor: pointer;
}
a:visited {
    color:#72b5a1;
}
a:hover, .lien:hover {
    background-color: #fffefb;
    color: rgb(13, 69, 51);
}
a:active {
    background-color: #fffefb;
    color: rgb(13, 69, 51);
}

.accroche, .savoirs, .container_langue_soft_skills, #next, #previous, #figcaption, .portofolio {
      background-color: #72b5a1;
}
.accroche, .formation, td, #figcaption, .contact h3 {
    color: rgb(13, 69, 51);
}
.accroche h2, .savoirs h2,.soft_skills__et_langues p, .soft_skills__et_langues h2, .centre_d_interets_titre , #figcaption, .portofolio, .contact h3, .footer h3 {
    font-family: FrederickatheGreat-Regular, cursive, sans-serif;
}

/********************************************************************************************/
/*partie accueil*/

.accueil {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width:1100px) {
    .image_accueil1 {
        display: none;
    }
    .image_accueil2 {
        display: none;
    }
    .image_accueil3 {
        display: block;
        width:50%
    }
    .accroche {
        width: 40%;
    }
}

@media screen and (max-width:1100px) {
    .image_accueil3 {
        display: none;
    }
    .image_accueil2 {
        display: block;
        width: 100%;
    }
    .image_accueil1 {
        display: none;
    }
    .accroche {
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .image_accueil3 {
        display: none;
    }
    .image_accueil2 {
        display: none;
    }
    .image_accueil1 {
        display: block;
        width: 100%;
    }
    .accroche {
        width: 100%;
    }
}

.accroche {
    padding: 8% 5% 5% 5%;
    text-align: center;
    line-height: 35px;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.accroche h2 {
    text-decoration: underline;
    padding: 20px;
    font-variant: small-caps;
    font-size: 35px;
    font-weight: 500;
}

.accroche p {
    width: 70%;
    margin: 0 auto;
}


/********************************************************************************************/
/*Partie savoirs, formation et expérience pro*/

.container_flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .formation {
        width: 100%;
        height: 100%;
        order: 1;
        margin-bottom: 2rem;
    }
    .savoirs {
        width: 100%;
        height: 100%;
        order: 2;
        margin-bottom: 2rem;
    }
    .competences{
        order: 3;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:1100px) {
    .formation {
        width: 47%;
        height: 100%;
        margin-bottom: 2rem;
    }
    .savoirs {
        width: 49.7%;
        height: 100%;
    }
    .competences{
        margin-bottom: 2rem;
    }
}


/********************************************************************************************/
/*Spécifique à la partie formation et expérience pro*/

@media screen and (min-width: 0px) {
    .formation {
        line-height: 1.5rem;
        background-color: #ffffff;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    
    .formation h2 {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
        border: solid rgb(18, 100, 73) 3px;
        border-radius: 10px;
        font-variant: small-caps;
        font-style: italic;
        width: -moz-fit-content;
        width: fit-content;    
        margin: 35px auto;
    }
    
    .formation h3 {
        font-size: 0.9rem;
        font-weight: 300;
        padding: 5px 0px 15px 10px;
        text-align: center;
        text-decoration: underline;
    }
    
    .formation p {
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 100;
        line-height: 20px;
        padding: 0px 15px 0px 15px;
        text-align: center;
    }
}

@media screen and (min-width: 1100px) {
    .formation {
        line-height: 2rem;
    }
    .formation h2 {
        font-size: 2rem;
        padding: 10px;
    }
    .formation h3 {
        font-size: 1.3rem;
    }
}


/********************************************************************************************/

/*Spécifique à la partie savoirs*/



@media screen and (min-width: 0) {
    .savoirs {
        padding: 20px 3px;
        font-family: FrederickatheGreat-Regular, cursive, sans-serif;
        height: 625px;
    }
    
    .savoirs h2 {
        font-size: 40px;
        text-align: center;
        padding: 20px 5px;
        margin: 10px;
    }
    
    .langage_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .langage_img > div {
        background-color: #fffefb;
        margin: 30px auto;
        width: 20%;
        height: 7rem;
        border: #fffefb solid 1px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .langage_img div img {
        width: 50%;
    }

    .langage_img p {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
    }
    .langage_img div:nth-child(3) img {
        padding-top: 0.5rem;
        width: 45%;
    }
    .langage_img div:nth-child(4) img {
        padding-top: 3%;
    }
    .langage_img div:nth-child(5) img {
        padding: 20% 0;
    }
    .langage_img div:nth-child(6) img {
        padding: 8% 0;
    }
    .langage_img div:nth-child(7) img {
        padding: 2% 0;
    }
}
@media screen and (min-width: 768px) {
    .langage_img > div {
        height: 13rem;
    }
    .langage_img p {
        font-size: 1.3rem;
    }
    .langage_img div img {
        width: 75%;
    }    
    .langage_img {
        margin-top: 1%;
    }
    .langage_img div:nth-child(3) img {
        width: 80%;
    }
    .langage_img div:nth-child(5) img {
        padding: 25.5% 0;
    }
}


/**************************************************************************************************************************/
/*Spécifique à la partie compétences soft skills*/


.competences {
    width: 100%;
    display: flex;
    overflow: hidden;
    border: rgb(18, 100, 73) solid 5px;
}
@media screen and (min-width: 1100px) {
    .container_langue_soft_skills {
        width: 100%;
        height: 92%;
        padding-bottom: 2rem;
    }    
    .soft_skills__et_langues_template {
        border:rgb(18, 100, 73) solid 3px;
    }
}
@media screen and (max-width: 1100px) {
    .competences {
        flex-wrap: wrap;
        border-radius: 15px;
        padding-top: 15px;
    }
    .container_langue_soft_skills {
        width: 100%;
        height: 100%;
    }   
    .soft_skills__et_langues_template {
        margin: 0 auto;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 2rem;
    }
}

.soft_skills__et_langues_template {
    width: 370px;
    padding-bottom: 1rem;
}

.soft_skills__et_langues_template p, .soft_skills__et_langues_template h2 {
    color:rgb(18, 100, 73);
    font-size: 35px;
    padding-top: 1rem;
    font-family: FrederickatheGreat-Regular, cursive, sans-serif;
    text-align: center;
}
.soft_skills__et_langues_template h2 {
    text-decoration: underline;
}

.soft_skills__et_langues {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
}
.soft_skills__et_langues li {
    position: absolute;
    height: 100%;
}

.soft_skills__et_langues p, .soft_skills__et_langues h2
   {
    display: inline;
    white-space: nowrap;
    font-size: 35px;
    position: relative;
    height: 100%;   
    color:rgb(18, 100, 73);
    padding-top: 0.2rem;
}    
.soft_skills__et_langues h2 {
    text-decoration: underline;
}

/**************************************************************************************************************************/
  /*Spécifique à la partie centre d'intérêts*/

.container_galerie {
    margin: 0 auto;
    width: 100%;
}

.centre_d_interets_titre {
    margin: 25px;
    text-align: center;
    font-size: 2rem;
}

.centre_d_interets{
    margin: 3.125rem auto;
}

.figure {
    display: flex;
    justify-content: center;
    max-width: 90%;
    min-width: 12.5rem;
    margin: 0 auto;
}

#slider {
    min-width: 12.5rem;
    max-width: 100%;
}

#next, #previous{
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0.5;
    border: none;
    width: 1.5625rem;
    overflow: hidden;
}

.arrow {
    width: 0.9375rem;
}

#figcaption {
    display: block;
    text-align: center;
    font-size: 2.1875rem;
    max-width: 38%;
    min-width: 12.5rem;
    margin: 0 auto;
    padding-top: 1.25rem;
    background-color: #fff;
}

/**************************************************************************************************************************/
/*Portofolio*/
.portofolio {
   width: 100%;
}
.portofolio h2 {
    padding-top: 5%;
    font-size: 2rem;
    text-align: center;
}

@media screen and (min-width: 0px) {
    .portofolio_container {
        display: flex;
        justify-content: center;
        align-content: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .portofolio figure {
        margin: 5% auto;
        text-align: center;
        font-size: 1.3rem;
    }
    
    .portofolio figure iframe {
        width: 95%;
        height: 37.5rem;
        border: rgb(18, 100, 73) solid 5px;
    }
    .portofolio figure figcaption {
        text-decoration: underline;
        margin: 5%;
    }
    .portofolio_container figure p {
        line-height: 2;
    }
}

@media screen and (min-width: 768px) {
    .portofolio figure {
        margin: 5% auto;
        text-align: center;
        font-size: 1.3rem;
    }
    
    .portofolio figure iframe {
        width: 95%;
        height: 37.5rem;
        border: rgb(18, 100, 73) solid 5px;
    }

    .portofolio figure figcaption {
        text-decoration: underline;
        margin: 5%;
    }
}
@media screen and (min-width: 1200px) {
    .portofolio_container {
        flex-direction: row;
    }

    .portofolio figure {
    margin: 5% 5% 10% 5%;
    text-align: center;
    font-size: 1.3rem;
}

.portofolio figure iframe {
    width: 37.5rem;
    height: 31.25rem;
    border: rgb(18, 100, 73) solid 5px;
}
.portofolio figure figcaption {
    text-decoration: underline;
    margin: 5%;
    }
}
/**************************************************************************************************************************/
/* aside et footer*/
.contact {
    width: 100%;
    height: 140px;
    text-align: center;
    padding: 10px 0px;
}

.contact h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.contact a{
    text-decoration: none;
    padding: 10px;
    color: rgb(18, 100, 73);
}

.logo img {
    width: 20px;
}
.logo img[src="image/linkedin.png"] {
    width: 60px;
    position: relative;
    top: 10px;
}
.footer {
    padding: 10px 0px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    background-color: rgb(18, 100, 73);
    line-height: 1.3;
}

.footer h3 {
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer a {
    color: #aeccc2;
}

.footer a:visited {
    color: #fffefb;
}

